<div class="center hero-unit">
  <h1>DabblerMom</h1>
  
  <h2>
      Welcome to DabblerMom, where busy moms share their secrets!
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary"
  %>
</div>

